.link-default-style-remove {
    color: white ;
    text-decoration: none !important;
}

.navbar-logo {
    font-size: 30px;
    transition: all .1s ease-in-out;
}
  
.navbar-logo:hover {
transform: scale(1.2);
}

@media (width<500px) {
    .navbar-logo {
        font-size: 20px;
        margin: 10px 10px;
    }
    .header-item {
        font-size:15px;
        margin: 0 10px;
    }
}